.container {
    overflow: hidden;
}

.filterDiv {
    /*float: left;*/
    /*background-color: #2196F3;*/
    /*color: #ffffff;*/
    /*width: 100px;*/
    /*line-height: 100px;*/
    /*text-align: center;*/
    /*margin: 2px;*/
    display: none; /* Hidden by default */
}

/* The "show" class is added to the filtered elements */
.show {
    display: block;
}

.cart-pic {
    width:72px;
    height:72px;
}

.media-object {
    width:72px;
    height:72px;
}

#product_name{
    margin-left:20px;
}

.section-heading{
    margin-top:20px;
}

.glyphicon-wishlist{
    float:right;
}